<div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
        <br>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
</div>
