a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  height: 500px;
  background-image: image-url('cosmetics-2611803_1280.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 12vh;
  color: #FF6699
}

.service-explain {
  font-size: 4vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-image {
  width: 20vw;
  height: 35vh;
  margin-right: 3vw;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 15vh;
  height: 15vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.article {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #999;
  height: 300px;
  width: 100vw;
  justify-content: left;
  align-items: center;
}

.article figure {
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.article figure img {
  min-width: 100px;
  max-width: 100%;
  vertical-align: top;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_excerpt {
  margin-top: 20px;
}
/* //商品一覧 */